JWT not throwing ExpiredTokenException in .NetCore

.Net Core 2.  JWT 3.0.3

```charp
 public AtkToken DecodeToken(string token)
        {
            IJsonSerializer serializer = new JsonNetSerializer();
            IDateTimeProvider provider = new UtcDateTimeProvider();
            IJwtValidator validator = new JwtValidator(serializer, provider);
            IBase64UrlEncoder urlEncoder = new JwtBase64UrlEncoder();
            IJwtDecoder decoder = new JwtDecoder(serializer, validator, urlEncoder);
            IDictionary<string, object> decodedToken = null;

            try
            {
                decodedToken = decoder.DecodeToObject<IDictionary<string, object>>(token, SecretKey, verify: true);
               //Error is logged.
                if (DateTime.Parse(decodedToken["Expiry"].ToString()) < DateTime.UtcNow)
                    LogTo.Error("Expired Token Detected! {token}, {expiry} ", decodedToken, decodedToken["Expiry"]);  
            }
            catch (TokenExpiredException) //No exception is thrown.
            {
                LogTo.Error("Token has expired: {Token}", token);
            }
            catch (SignatureVerificationException)
            {
                LogTo.Error("Token has invalid signature: {Token}", token);
            }
...
}
```

Since I don't have the input token, can you build Jwt.Net locally, drop into your build and debug?

@abatishchev looks like we use the field name 'Expiry' while JWT prefers 'exp'.  Looks like we can resolve this issue our side.

Yes, use `exp`, see [RFC 7519 section 4.1.4](  https://tools.ietf.org/html/rfc7519#section-4.1.4).

Currently all links to JWT standard links to draft 10. Shall we change them all to RFC 7519? I think the implementation is already RFC 7519 compliant (or at least that's the target).

Oh, sure, please submit a PR. And if you know what were the important changes or what has to be changed - please explain to me, would definitely appreciate. And open a new issue, if you will.