Change Headers from Encode

So I've noticed that there is specific header when you creating a JWT 
Like
```
{
  "typ": "JWT",
  "alg": "HS256"
}
```

I wanna change it like

```
{
  "alg": "HS256"
  "custom": "custom"
}
```

I believe we're following the spec, see [RFC 7515, section 4.1](https://tools.ietf.org/html/rfc7515#section-4.1)